flows.json
[{"id":"72764631.3578f8","type":"tab","label":"system","disabled":false,"info":""},{"id":"2d7e38bb.d4c498","type":"tab","label":"auto light","disabled":false,"info":""},{"id":"d103c12a.8ea3a","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"57e82b09.aa57c4","type":"server-state-changed","z":"72764631.3578f8","name":"日落","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":40,"wires":[["5b4ad0cf.567f7"],["6856da49.446964"]]},{"id":"5b4ad0cf.567f7","type":"api-call-service","z":"72764631.3578f8","name":"设置Night标记On","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":20,"wires":[[]]},{"id":"6856da49.446964","type":"api-call-service","z":"72764631.3578f8","name":"设置Night标记Off","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":80,"wires":[[]]},{"id":"f4ba854d.2fab08","type":"server-state-changed","z":"2d7e38bb.d4c498","name":"二楼卫生间感应移动","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_sensor_second_toilet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":200,"wires":[["4e8242b6.e0f61c"],["f843d654.e39148"]]},{"id":"4e8242b6.e0f61c","type":"api-current-state","z":"2d7e38bb.d4c498","name":"检查占用标记","server":"d103c12a.8ea3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied_second_toilet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":180,"wires":[["9ff89473.7c2668"],["3c7c1215.4960fe"]]},{"id":"b29a163.174d7e8","type":"ha-wait-until","z":"2d7e38bb.d4c498","name":"","server":"d103c12a.8ea3a","outputs":2,"entityId":"input_boolean.occupied_second_toilet","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":260,"wires":[[],["d314e15.183bb2"]]},{"id":"65cc3241.6a1a4c","type":"server-state-changed","z":"2d7e38bb.d4c498","name":"二楼卫生间占用改动","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.occupied_second_toilet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":80,"wires":[["2d4e7888.2a6b18"],["ff602d6f.c5279"]]},{"id":"2d4e7888.2a6b18","type":"api-call-service","z":"2d7e38bb.d4c498","name":"","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.ceiling_light_second_toilet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":60,"wires":[[]]},{"id":"ff602d6f.c5279","type":"api-call-service","z":"2d7e38bb.d4c498","name":"","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ceiling_light_second_toilet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":120,"wires":[[]]},{"id":"f843d654.e39148","type":"api-current-state","z":"2d7e38bb.d4c498","name":"检查占用标记","server":"d103c12a.8ea3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied_second_toilet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":240,"wires":[["b29a163.174d7e8"],[]]},{"id":"d314e15.183bb2","type":"api-current-state","z":"2d7e38bb.d4c498","name":"检查感应器","server":"d103c12a.8ea3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_sensor_second_toilet","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":260,"wires":[[],["3b0fa99d.bf8716"]]},{"id":"3b0fa99d.bf8716","type":"api-call-service","z":"2d7e38bb.d4c498","name":"占用标记设为无人","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.occupied_second_toilet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":180,"wires":[[]]},{"id":"3c7c1215.4960fe","type":"api-call-service","z":"2d7e38bb.d4c498","name":"占用标记设为有人","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.occupied_second_toilet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":200,"wires":[["20a6344c.e4d6dc"]]},{"id":"1b009039.cb4f7","type":"server-state-changed","z":"2d7e38bb.d4c498","name":"储物间感应移动","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_sensor_storage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":460,"wires":[["3635e023.5cad8"],["36a92c6d.c39934"]]},{"id":"3635e023.5cad8","type":"api-current-state","z":"2d7e38bb.d4c498","name":"检查占用标记","server":"d103c12a.8ea3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.motion_at_storage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":440,"wires":[[],["5e786222.396f3c"]]},{"id":"18f9606c.7f146","type":"ha-wait-until","z":"2d7e38bb.d4c498","name":"","server":"d103c12a.8ea3a","outputs":2,"entityId":"input_boolean.motion_at_storage","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":500,"wires":[[],["92259a6d.f45e78"]]},{"id":"3b7b462c.3426ba","type":"server-state-changed","z":"2d7e38bb.d4c498","name":"储物间有人标记改动","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.motion_at_storage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":340,"wires":[["929bab62.a09e28"],["924fa677.cbf028"]]},{"id":"929bab62.a09e28","type":"api-call-service","z":"2d7e38bb.d4c498","name":"","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.light_storage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":320,"wires":[[]]},{"id":"924fa677.cbf028","type":"api-call-service","z":"2d7e38bb.d4c498","name":"","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.light_storage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":380,"wires":[[]]},{"id":"36a92c6d.c39934","type":"api-current-state","z":"2d7e38bb.d4c498","name":"检查占用标记","server":"d103c12a.8ea3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.motion_at_storage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":500,"wires":[["18f9606c.7f146"],[]]},{"id":"92259a6d.f45e78","type":"api-current-state","z":"2d7e38bb.d4c498","name":"检查感应器","server":"d103c12a.8ea3a","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_sensor_storage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":500,"wires":[[],["dc962cf0.58faf"]]},{"id":"dc962cf0.58faf","type":"api-call-service","z":"2d7e38bb.d4c498","name":"占用标记设为无人","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_at_storage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":440,"wires":[[]]},{"id":"5e786222.396f3c","type":"api-call-service","z":"2d7e38bb.d4c498","name":"占用标记设为有人","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_at_storage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":440,"wires":[[]]},{"id":"20a6344c.e4d6dc","type":"trigger","z":"2d7e38bb.d4c498","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"300","extend":false,"overrideDelay":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":760,"y":160,"wires":[["3b0fa99d.bf8716","40a5a477.d1d6ec"]]},{"id":"9ff89473.7c2668","type":"change","z":"2d7e38bb.d4c498","name":"设置delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"300","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["20a6344c.e4d6dc","40a5a477.d1d6ec"]]},{"id":"40a5a477.d1d6ec","type":"debug","z":"2d7e38bb.d4c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":80,"wires":[]},{"id":"3ee75e1d.7d9f12","type":"poll-state","z":"72764631.3578f8","d":true,"name":"TL-R470GP-AC-2.0-received","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.tl_r470gp_ac_2_0_packets_s_received","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":140,"y":140,"wires":[["86483da9.2fce2"]]},{"id":"fd11fcf7.09343","type":"poll-state","z":"72764631.3578f8","d":true,"name":"TL-R470GP-AC-2.0-sent","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.tl_r470gp_ac_2_0_packets_s_sent","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":200,"wires":[["1f86e57a.e0e33b"]]},{"id":"f431a98b.1d2148","type":"function","z":"72764631.3578f8","name":"","func":"var sendMsg = function(){\n    flow.set(['gotReceived','gotSent'],[false,false])\n    values = flow.get(['receivedValue','sentValue'])\n    return {payload:{value:values[0] + values[1]}}\n}\n\nif(msg.type === 'sent'){\n    // sentValue = msg.payload;\n    // gotSent = true\n    flow.set(['sentValue','gotSent'],[Number(msg.payload),true])\n    if(flow.get(['gotReceived'])[0]){\n        return sendMsg();\n    }\n}\nif(msg.type === 'received'){\n    // receivedValue = msg.payload;\n    // gotReceived = true\n    flow.set(['receivedValue','gotReceived'],[Number(msg.payload),true])\n    if(flow.get(['gotSent'])[0]){\n        return sendMsg();\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nvar receivedValue = 0\nvar sentValue = 0\nvar gotReceived = false\nvar gotSent = false","finalize":"","libs":[],"x":550,"y":160,"wires":[["b514d60.f44cd28"]]},{"id":"86483da9.2fce2","type":"change","z":"72764631.3578f8","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"received","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["f431a98b.1d2148"]]},{"id":"1f86e57a.e0e33b","type":"change","z":"72764631.3578f8","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"sent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["f431a98b.1d2148"]]},{"id":"b514d60.f44cd28","type":"api-call-service","z":"72764631.3578f8","name":"设置Total","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.tl_r470gp_ac_2_0_packets_s_total","data":"msg.payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":160,"wires":[[]]},{"id":"5e97313b.f9091","type":"exec","z":"72764631.3578f8","command":"cd /data;git add .;git commit -m 'auto commit';git push","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"提交git","x":660,"y":380,"wires":[["d2945cf4.f8c3d"],["9f6a62f2.ce3a9"],["9f6a62f2.ce3a9"]]},{"id":"9f6a62f2.ce3a9","type":"debug","z":"72764631.3578f8","name":"记录日志","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":380,"wires":[]},{"id":"18d99690.1adbf9","type":"exec","z":"72764631.3578f8","command":"ls -l /data/flows.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"文件时间戳","x":250,"y":320,"wires":[["30975ef7.e67512"],["2910022c.16c22e"],[]]},{"id":"dd33899f.802088","type":"inject","z":"72764631.3578f8","name":"10秒一次","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["18d99690.1adbf9"]]},{"id":"30975ef7.e67512","type":"function","z":"72764631.3578f8","name":"判断变化","func":"if(context.flow.get('justChanged')==msg.payload){\n    msg.payload = 1;\n    return msg;\n}\n\ncontext.flow.set('justChanged',msg.payload);\nmsg.payload = 2;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":380,"wires":[["b3c7c598.4d30d8"]]},{"id":"b3c7c598.4d30d8","type":"switch","z":"72764631.3578f8","name":"修改过","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":380,"wires":[["5e97313b.f9091"]]},{"id":"2910022c.16c22e","type":"debug","z":"72764631.3578f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":320,"wires":[]},{"id":"d2945cf4.f8c3d","type":"debug","z":"72764631.3578f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":320,"wires":[]}]