flows.json
[{"id":"72764631.3578f8","type":"tab","label":"home-assistant","disabled":false,"info":""},{"id":"d103c12a.8ea3a","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"57e82b09.aa57c4","type":"server-state-changed","z":"72764631.3578f8","name":"日落","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":40,"wires":[["5b4ad0cf.567f7"],["6856da49.446964"]]},{"id":"5b4ad0cf.567f7","type":"api-call-service","z":"72764631.3578f8","name":"设置Night标记On","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":20,"wires":[[]]},{"id":"6856da49.446964","type":"api-call-service","z":"72764631.3578f8","name":"设置Night标记Off","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":60,"wires":[[]]},{"id":"3ee75e1d.7d9f12","type":"poll-state","z":"72764631.3578f8","name":"TL-R470GP-AC-2.0-received","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.tl_r470gp_ac_2_0_packets_s_received","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":140,"y":140,"wires":[["86483da9.2fce2"]]},{"id":"fd11fcf7.09343","type":"poll-state","z":"72764631.3578f8","name":"TL-R470GP-AC-2.0-sent","server":"d103c12a.8ea3a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.tl_r470gp_ac_2_0_packets_s_sent","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":200,"wires":[["1f86e57a.e0e33b"]]},{"id":"f431a98b.1d2148","type":"function","z":"72764631.3578f8","name":"","func":"var sendMsg = function(){\n    flow.set(['gotReceived','gotSent'],[false,false])\n    values = flow.get(['receivedValue','sentValue'])\n    return {payload:{value:values[0] + values[1]}}\n}\n\nif(msg.type === 'sent'){\n    // sentValue = msg.payload;\n    // gotSent = true\n    flow.set(['sentValue','gotSent'],[Number(msg.payload),true])\n    if(flow.get(['gotReceived'])[0]){\n        return sendMsg();\n    }\n}\nif(msg.type === 'received'){\n    // receivedValue = msg.payload;\n    // gotReceived = true\n    flow.set(['receivedValue','gotReceived'],[Number(msg.payload),true])\n    if(flow.get(['gotSent'])[0]){\n        return sendMsg();\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nvar receivedValue = 0\nvar sentValue = 0\nvar gotReceived = false\nvar gotSent = false","finalize":"","libs":[],"x":550,"y":160,"wires":[["b514d60.f44cd28"]]},{"id":"86483da9.2fce2","type":"change","z":"72764631.3578f8","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"received","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["f431a98b.1d2148"]]},{"id":"1f86e57a.e0e33b","type":"change","z":"72764631.3578f8","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"sent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["f431a98b.1d2148"]]},{"id":"b514d60.f44cd28","type":"api-call-service","z":"72764631.3578f8","name":"设置Total","server":"d103c12a.8ea3a","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.tl_r470gp_ac_2_0_packets_s_total","data":"msg.payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":160,"wires":[[]]},{"id":"5e97313b.f9091","type":"exec","z":"72764631.3578f8","command":"cd /usr/local/nodered;git add .;git commit -m 'auto commit';git push","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"提交git","x":800,"y":360,"wires":[[],["9f6a62f2.ce3a9"],[]]},{"id":"9f6a62f2.ce3a9","type":"debug","z":"72764631.3578f8","name":"记录日志","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"18d99690.1adbf9","type":"exec","z":"72764631.3578f8","command":"ls -l /usr/local/nodered/flows.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"文件时间戳","x":380,"y":360,"wires":[["30975ef7.e67512","1acb2b75.809675"],[],[]]},{"id":"dd33899f.802088","type":"inject","z":"72764631.3578f8","name":"10秒一次","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["18d99690.1adbf9"]]},{"id":"30975ef7.e67512","type":"function","z":"72764631.3578f8","name":"判断变化","func":"if(context.flow.get('justChanged')==msg.payload){\n    msg.payload = 1;\n    return msg;\n}\n\ncontext.flow.set('justChanged',msg.payload);\nmsg.payload = 2;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":360,"wires":[["b3c7c598.4d30d8"]]},{"id":"b3c7c598.4d30d8","type":"switch","z":"72764631.3578f8","name":"修改过","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":360,"wires":[["5e97313b.f9091"]]},{"id":"1acb2b75.809675","type":"debug","z":"72764631.3578f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":480,"wires":[]}]